#landing {
  background: $black;
  color: $white;
}

// Hero Image
.Hero {
  width: 100%;
  position: relative;
  min-height: 100vh;

  .content {
    position: relative;
    z-index: 4;
    padding: 5vw;
    top: 15vh;

    .logo {
      max-width: 400px;
      display: block;
      position: relative;
      left: -5px;
    }

    p {
      max-width: 500px;
    }

    .button-wrapper {
      display: flex;
      width: 400px;
      margin-top: 30px;

      .Button:first-child {
        margin-right: 10px;
      }
    }
  }
}
